<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.file.attach"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8"/>
    <application
        >
        <activity
            android:name=".FileChooserActivity"
            android:launchMode="singleTop"/>
    </application>


</manifest>